.gauge-count-container {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gauge-count-wrapper {
    width: 100%;
    height: 100%;
    will-change: transform;
}
